<ion-view title="Descripción del producto" id="page7">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/PXyTw7G7R6aoYtAG8ma8_cono1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="descripciNDelProducto-card23">
      <div class="item item-body" id="descripciNDelProducto-list-item-container6">
        <div id="descripciNDelProducto-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONO DE NIEVE</strong>
          </p>
        </div>
        <div id="descripciNDelProducto-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
          </p>
        </div>
        <div id="descripciNDelProducto-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Precio: $17.00 Pesos </p>
        </div>
        <div id="descripciNDelProducto-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Cantidad: 1 Persona </p>
        </div>
        <div id="descripciNDelProducto-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </strong>
          </p>
        </div>
        <div id="descripciNDelProducto-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">El cono de nieve esta hecho con tantos materiales que simplemente es delicia probar el sabor que se trae entre manos.</p>
        </div>
      </div>
      <button id="descripciNDelProducto-button12" class="button button-stable button-block">Añadir al pedido</button>
    </div>
  </ion-content>
</ion-view>